# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- Node.js (Frontend) ---
node_modules/
dist/
.env
.DS_Store

# --- Python (Backend) ---
__pycache__/
*.py[cod]
venv/
.pytest_cache/

# --- INALTERA Específico ---

# Base de datos local (para no subir tus datos de prueba)
*.db
*.sqlite3

# Carpetas de archivos subidos y generados (¡MUY IMPORTANTE!)
# No queremos subir las facturas de prueba a GitHub
backend/uploads/
backend/saved_files/

# Archivos de entorno (Seguridad)
# Ya tienes .env arriba, pero por si acaso asegúrate que cubre backend/.env
backend/.env
frontend/.env
